.projet {
    /* width: 100vw; */
    padding: 0 0 50px 0;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;

    &__spirale1{
        display: none;
    }

    &__spirale2 {
        position: relative;
        left: -200px;
        top: 550px;
        margin-top: -200px;
        z-index: -1;
    }

    &-text {
        text-align: left;
        margin: 50px 0;
    }

    &__imgR {
        width: 327px;
        border-image: url(../images/cadre-projet.svg);
        margin-bottom: 50px;
    }

    &__imgRinstal {
        display: none;
    }

    &__btn1 {
        margin: 100px 0 50px 0;
    }

    &__main{
        display: none;
    }

    &-imgM {
        width: 80px;
    }
}

button{
    background: none;
    border: none;
}
.btnP a{
    background-color: #ada5fc;
    padding: 5px 20px;
    border-radius: 25em;
    border-style: none;
}
.btnP a:hover {
    background-color: #ff8430;
    border-style: solid 2px #211f32;
}
.btnP a {
    font-size: 18px;
}

.partieProjets {
    display: flex;
    align-items: flex-end;
    margin-top: 25px;
}

@media (min-width: 820px) {

    .projet {
        padding-top: 25px;

        &__grid {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 50px;
            grid-template-rows: repeat(4, auto);
            margin-bottom: -150px;
            margin-top: -50px;
        }

        &__spirale1 {
            display: block;

            width: 600px;
            position: absolute;
            left: 10px;
            margin-top: 150px;
            z-index: -1;
        }

        &__spirale2{
            width: 350px;
            transform: rotate(45deg);
        }

        &__imgR {
            grid-column: 2 / 5;
            grid-row: 1;
            width: auto;
        }

        &__imgRinstal {
            display: block;

            width: 350px;
            grid-row: 2 / 4;
            grid-column: 4 / 5;
            justify-self: center;
        }

        &-text {
            grid-column: 2 / 4;
            margin: 0 0;
        }

        &__btn1 {
            grid-column: 3;
            justify-self: end;
            align-self: start;
        }

        &__main{
            display: block;
            width: 271px;
            position: relative;
            right: -542px;
            top: -250px;
            z-index: -1;
        }

        &-imgM {
            width: 120px;
            z-index: -1;
        }
    }

    .projet__spirale1 {
        animation: rotation2 40s linear infinite;
    }

    @keyframes rotation2 {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    .projet__spirale2 {
        animation: rotation3 15s linear infinite;
    }

    @keyframes rotation3 {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(-360deg);
        }
    }

    .projet-imgM {
        animation: tremblement 0.1s infinite; /* Applique l'animation de tremblement */
    }
    
    @keyframes tremblement {
        0% {
            transform: translateX(-1px); /* Légère translation vers le haut et la gauche */
        }
        25% {
            transform: translateX(1px); /* Légère translation vers le bas et la droite */
        }
        50% {
            transform: translateX(2px); /* Légère translation vers le haut et la droite */
        }
        75% {
            transform: translateX(2px); /* Légère translation vers le bas et la gauche */
        }
        100% {
            transform: translateX(1px); /* Retour à la position initiale */
        }
    }
    
}