
.partie__feu{
    display: none;
}

@media (min-width: 820px) {
    .img-suspendu {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: rotate(6deg);

    }
    .texttfa{
        grid-row: 2;
    }
    .btntfa {
        grid-row: 3;
        margin: 0 0 250px 0;
    }
    .projet__grid__3 {
        margin-top: -200px;
    }
}

@media (min-width: 840px) {
    .partie__feu{
        display: block;
    }

    .projet__grid__3 {
        margin-top: 0;
    }
}