@font-face {
  font-family: 'Batuphat Script' ;
  src: 
      local("Batuphat Script"),
      url("/assets/Batuphat-Script.otf") format("OpenType");

}

*{
  margin: 0;
}
body {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  color: black;
  text-align: center;
  background-color: #F4F4F4;
  margin: 0 17px;
}

h1 {
  font-family: 'Batuphat Script';
  font-size: 71px;
}
h2 {
  font-size: 32px;
}
h3, a {
  font-size: 23px;
}
.soustitre, a {
  font-family: "Fira Sans Condensed", sans-serif;
  font-style: normal;
}
.intro {
  font-family: "Fira Sans Condensed", sans-serif;;
  font-size: 35px;
  font-style: italic;
}
