<!DOCTYPE html>
<html>
<head>
  <title>{{titlec}}</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="description" content="">
  <!-- Meta Partage -->
  <!-- Favicon -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="assets/styles/app.css">

  <link rel="icon" href="assets/images/logo.svg">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">

</head>
<body>
  <header>
    <a class="logo" href="index.php"><img src="assets/images/logo.svg" alt="Logo qui représente un oeil d'un de mes dessins"></a>
    <nav class="sticky-menu menu sticky">
      <div class="menu__burger burger">
        <p class="Tbtn">menu</p>
        <span></span>
      </div>
      <div class="menu__links-container" id="menuLinksContainer">
        <ul class="menu__list">
          <li class="menu__el" ><a href="index.php">Accueil</a></li>
          <li class="menu__el" ><a href="projets.php">Projets</a></li>
          <li class="menu__el" ><a href="#competence">Compétences</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
  <section id="competence" class="intro competence-intro">
    <div>
        <h1 class="competence-intro__titre">Bientôt en stage chez vous ?</h1>
        <p class="intro-text intro__competence">Je suis enthousiaste à l'idée de rejoindre votre équipe pour mon prochain stage. </p>
    </div>
  </section>

  <section id="competence" class="competences">
    <div>
      <h2 class="soustitre about__perso-titre competences-titre">Compétences</h2>
      <p class="competences-text competences-text__intro">J'ai selon moi plus de facilité et de compétence en design qu’en code, mais je m'investis afin de progresser dans le domaine. Lors de mes différentes années scolaire &#x28;que ce soit ici en infographie ou ailleurs&#x29;, j'ai pu affiner mes capacités en analyse, recherche d’info / inspiration, utilisation de logiciel et autres. Je suis capable de . </p>
    </div>

    <div>
      <div class="stage__text stage__comp adobe">
        <h3>Adobe</h3>
        <p>&#x28;PhotoShop, Illustrator, InDesign, XD, Figma &#x29;</p>
        <p class="competences-text">J'en ai une utilisation régulière dans le cadre de l'école et aussi pour mes projets perso, je suis plus à l'aise dans Illustrator ou PhotoShop que InDesign.</p>
      </div>

      <div class="stage__text stage__comp troisD">
        <h3>3D Programs</h3>
        <p>&#x28;Autodesk Maya, Blender&#x29;</p>
        <p class="competences-text">J'aime faire de la 3D, j'ai découvert les bases de cet univers dans le cadre de ma première année à l'HEAJ.</p>
      </div>

      <div class="stage__text stage__comp code">
        <h3>Code</h3>
        <p>&#x28;HTML, CSS, SCSS ,Javascript,&#x29;</p>
        <p class="competences-text">L'utilisation de ces trois languages est utile dans la conception de projets. J'ai une préférence dans le css et j'ai encore quelque faiblesse en js.</p>
      </div>

      <div class="stage__text stage__comp design">
        <h3>Design</h3>
        <p>&#x28;UX / UI&#x29;</p>
        <p class="competences-text">Pour la conception du design de mes projets, je passe par figma. J'ai dans ma première année de web d'abord commencé sur XD, j'ai donc aussi quelques bases dans ce logiciel &#x28;mais figma est plus répandu et efficace a mon sens&#x29;</p>
      </div>
    </div>
  </section>

  <section id="competence" class="motivations">
  <h2 class="soustitre">Mes motivations</h2>
  <p class="text competences-text">Via le stage, j'aimerais pouvoir avoir un aperçu réel de ce qu'est le metier de webdesigner sur le terrain et de pouvoir traiter de vrais cas de clients. Découvrir d'autres personnes et façon de travailler et d'autre lieux / cadre de travail que celui de l'école.</p>
  </section>

  <section id="competence" class="stage">
    <div class="stage__text">
      <h3>Ce que j'aimerais y faire</h3>
      <p class="competences-text">Voir d'autres méthodes de travail, pouvoir améliorer et approfondir les connaissances que j'ai déjà acquises à l'école, apprendre de nouvelles compétences. J'aimerais surtout pouvoir développer tout ce qui touche à la partie ui, ux et le design.</p>
    </div>

    <div class="stage__text">
      <h3>Après le stage</h3>
      <p class="competences-text">Pouvoir avoir une meilleur compréhension de l'ui / ux, une meilleur lecture et décomposition de mon code &#x28;mieux nommer les class et donc avoir une meilleur hiérarchie&#x29;. Avec tout ça si le stage peux me permettre de m'améliorer dans les animations, que ce soit en css ou en gsap et puis pouvoir avoir une meilleur compréhension du fonctionnement de WordPress et PHP.</p>
    </div>
  </section>

  </main>

  <footer>

    <div class="footer-contenu">
      <div class="bloc footer-credit">
        <h3>Pages annexes</h3>
        <ul class="liste-annexe">
          <li><a href="credit.php">Crédits</a></li>
        </ul>
      </div>

      <div class="bloc footer-contact">
        <h3>Me contacter</h3>
        <ul class="liste-contact">
          <li><a href="mailto:dewandre.jonathan@gmail.com">Mon mail</a></li>
        </ul>
      </div>

      <div class="bloc footer-media">
        <h3>Mes réseaux</h3>
        <ul class="liste-media">
          <li><a href="https://www.instagram.com/dewfrjo/"><img src="assets/images/icon-insta.svg" alt="Icones instagram">Instagram</a></li>
        </ul>
      </div>

    </div>

    <small class="credits"> DWT_@ 2024 - Dewandre Jonathan</small>
  </footer>
  <script src="assets/scripts/app.js"></script>
</body>
</html>