<!DOCTYPE html>
<html>
<head>
  <title>{{titlecredit}}</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="description" content="">
  <!-- Meta Partage -->
  <!-- Favicon -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="assets/styles/app.css">

  <link rel="icon" href="assets/images/logo.svg">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">

</head>
<body>
  <header>
    <a class="logo" href="index.php"><img src="assets/images/logo.svg" alt="Logo qui représente un oeil d'un de mes dessins"></a>
  </header>
  <main>
  <section class="intro">
      <button class="btnP btnC"><a href="index.php">Revenir au portfolio</a></button>
    <div>
        <h1>Crédits</h1>
    </div>
  </section>

  <section class="sctC fonts">
    <h2>Polices d'écriture</h2>
    <ul class="liste">
        <li>Anton, sans serif</li>
        <li>Plus Jakarta Sans, sans serif</li>
        <li>Hind Siliguri, sans serif</li>
    </ul>
  </section>

  <section class="sctC illu">
    <h2>Mes illustrations / dessins</h2>
    <h3>Pourquoi ce choix</h3>
    <p class="text text__credit">Le dessin est une activité que j'aime faire depuis petit. J'ai plusieur style de dessin différent je peux faire du classique, comme du dessin style cartoon, du tribal, mais peux importe le style que je dessine je le ferais à 90% du temps en noir et blanc.</p>
    <p class="text text__credit">Je suis donc parti ici dans un style plus cartoon, avec une inspiration de film Monstres et Compagnie.</p>
  </section>

  <section class="sctC couleurs">
    <h2>Couleurs utilisées</h2>
    <div class="couleur">
        <div class="couleur__1"></div>
        <div class="couleur__2"></div>
        <div class="couleur__3"></div>
        <div class="couleur__4"></div>
    </div>
  </section>

  <section class="sctC Sites">
    <h2>Sites / Applications utiles</h2>
    <ul class="liste">
        <li>Figma</li>
        <li>Adobe Illustrator</li>
        <li>Adobe PhotoShop</li>
        <li>Google fonts</li>
        <li>Pinterest</li>
        <li>ChatGPT</li>
    </ul>
  </section>
  </main>

  <footer>

    <div class="footer-contenu">
      <div class="bloc footer-credit">
        <h3>Pages annexes</h3>
        <ul class="liste-annexe">
          <li><a href="credit.php">Crédits</a></li>
        </ul>
      </div>

      <div class="bloc footer-contact">
        <h3>Me contacter</h3>
        <ul class="liste-contact">
          <li><a href="mailto:dewandre.jonathan@gmail.com">Mon mail</a></li>
        </ul>
      </div>

      <div class="bloc footer-media">
        <h3>Mes réseaux</h3>
        <ul class="liste-media">
          <li><a href="https://www.instagram.com/dewfrjo/"><img src="assets/images/icon-insta.svg" alt="Icones instagram">Instagram</a></li>
          {# <li><a href=""><img src="" alt="Icones Linkedin"></a></li> #}
        </ul>
      </div>

    </div>

    <small class="credits"> DWT_@ 2024 - Dewandre Jonathan</small>
  </footer>

  <script src="assets/scripts/app.js"></script>
</body>
</html>