<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="description" content="">
  <!-- Meta Partage -->
  <!-- Favicon -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="assets/styles/app.css">

  <link rel="icon" href="assets/images/logo.svg">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">

</head>
<body>
  <header>
    <a class="logo" href="index.php"><img src="assets/images/logo.svg" alt="Logo qui représente un oeil d'un de mes dessins"></a>
    <nav class="sticky-menu menu sticky">
      <div class="menu__burger burger">
        <p class="Tbtn">menu</p>
        <span></span>
      </div>
      <div class="menu__links-container" id="menuLinksContainer">
        <ul class="menu__list">
          <li class="menu__el" id="home"><a href="#accueil">Accueil</a></li>
          <li class="menu__el" id="a-propos"><a href="#apropos">Á propos de moi</a></li>
          <li class="menu__el" id="projets"><a href="#projet">Projets</a></li>
          <li class="menu__el" id="motivations"><a href="#motivation">Motivations</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <section id="accueil" class="intro">
      <div>
        <h1>Bienvenue chez moi !</h1>
        <p class="intro-text">Je suis un étudiant belge en design web et mobile prêt à entrer dans l'inconnu</p>
      </div>
      <div class="base-imgH">
        <img class="intro__img" src="assets/images/decoH.svg" alt="Dessin de 4 petits monstres réalisé à la main par moi-même.">
        <img class="intro__trame" src="assets/images/fond-spiral.svg" alt="Dessin d'une spirale.">
      </div>
    </section>
    <section id="apropos" class="about">
      <div class="about__perso">
        <h2 class="soustitre about__perso-titre">À propos de moi</h2>
        <div class="about__perso-postit">
          <h3>Je m'appelle Jonathan, j'ai 23 ans et j'étudie à l'HEAJ en DWT.</h3> 
          <p>J'ai fini mes secondaires en tant qu'assistant comptable, mais voir des chiffres défiler toute la journée, ce n'était pas pour moi. Par la suite, j'ai été vers d'autre horizons, comme l'étude pour être assistant au métier de la protection et de la sécurité. Mais ce n'étais pas assez créatif et artistique. Étant donné que j'adore dessiner, je me suis donc dirigé en infographie et c'est durant la première année que j'ai découvert le code. J'ai voulu en découvrir plus dans ce domaine d'avenir.</p>
        </div>
      </div>

      <div class="about__passion">
        <h2>Mes passions</h2>
        <h3 class="about__passion__intro">J'aime pratiquer des activités qui enrichissent et dynamisent mon quotidien ainsi que ma créativité.</h3>
        <div class="about__passion__container">
          <div class="passion passion-bricoler">
            <div class="bricoler__front">
              <img class="passion__monstre passion__bricolerI" src="assets/images/bricoleur.svg" alt="dessin d'un petit monstre avec une tenue de bricoleur">
              <button class="btn"></button>
              <h3 class="soustitre">Bricoler</h3>
            </div>
            <div class="bricoler__back">
              <p class="passion__text passion__text__mob bricoler__text">Débrouillardise - recherche de solution - la créativité - touche à tout. Je suis le premier quand j'ai besoin de quelque chose &#x28;meubles ou modification quelconque&#x29;, à voir si je sais le faire par moi-même en combinant des planches de récupération.</p>
            </div>
          </div>

          <div class="passion passion-jeu">
            <div class="jeu__front">
              <img class="passion__monstre passion__jeuI" src="assets/images/jeuV.svg" alt="petit monstre qui est devant un jeu vidéo">
              <button class="btn"></button>
              <h3 class="soustitre">Jeux Vidéos</h3>
            </div>
            <div class="jeu__back">
              <p class="passion__text passion__text__mob jeu__text">Les jeux vidéo me poussent à aller au bout des choses avec persévérance. Que ce soit en travail d’équipe ou en solo, ils exigent une constante adaptation. L’analyse de l’environnement est essentielle pour progresser et surmonter les défis.</p>
            </div>
          </div>

          <div class="passion passion-rando">
            <div class="rando__front">
              <img class="passion__monstre passion__randoI" src="assets/images/rando.svg" alt="petit monstre avec un sac à dos de randonnée">
              <button class="btn"></button>
              <h3 class="soustitre">Randonnée</h3>
            </div>
            <div class="rando__back">
              <p class="passion__text passion__text__mob rando__text">C’est une excellente occasion de me retrouver. Je ressens une profonde liberté, loin des obligations et du stress. De plus, la randonnée me permet de décrocher de la technologie. Sans les distractions des écrans, je profite pleinement de la nature et de moi-même.</p>
            </div>
          </div>    

          <div class="passion passion-moto">
            <div class="moto__front">
              <img class="passion__monstre passion__motoI" src="assets/images/moto.svg" alt="monstre a 3 yeux devant sa belle moto">
              <button class="btn"></button>
              <h3 class="soustitre">Moto</h3>
            </div>
            <div class="moto__back">
              <p class="passion__text passion__text__mob moto__text">La moto me procure une sensation de liberté incomparable. Elle favorise l'entraide et le partage au sein d'une communauté de passionnée.</p>
            </div>
          </div>

          <div class="passion passion-dessin">
            <div class="dessin__front">
              <img class="passion__monstre passion__dessinI" src="assets/images/dessin.svg" alt="deux mains qui sont entrain de dessiner un monstre flamme">
              <button class="btn"></button>
              <h3 class="soustitre">Dessin</h3>
            </div>
            <div class="dessin__back">
              <p class="passion__text passion__text__mob dessin__text">Ça me permet de travailler et de perfectionner tout ce qui est la créativité, la curiosité, la patience, ma perception dans l’espace. Le dessin est un art qui n’as pour seul limite son imagination ce qui est fascinant.</p>
            </div>
          </div>  
        </div>  
      </div>
    </section>

    <section id="projet" class="projet">
      <h2>Ma dernière réalisation</h2>
      <img class="projet__spirale1" src="assets/images/fond-spiral.svg" alt="Dessin d'une grande spirale.">
      <img class="projet__spirale2" src="assets/images/fond-spiral.svg" alt="Dessin d'une spirale.">
      <div class="projet__grid">
        <div class="projet-text">
          <h3>Projet RUX : 2023-2024</h3>
          <p>Projet qui avait pour but de personnalisé nos locaux avec un intérêt pour l'option. Ce projet fut très intéressant et constructif pour moi, car c’est le premier vrai projet qu’on a mis en place de A à Z et le voir se concrétiser. La conception, la réalisation et la pose dans nos locaux ont été effectuées par les membres du groupe.</p>
        </div>
        <a class="projet__imgR" href="https://jonathan-dewandre.be/projets/rethinking-ux/"><img class="projet__imgR" src="assets/images/rux.jpg" alt="Page home du projet."></a>
        <a class="btnP projet__btn1 projet__btn" href="https://jonathan-dewandre.be/projets/rethinking-ux/">Voir le projet</a>
        <img class="projet__imgRinstal" src="assets/images/rux-instal.jpg" alt="photo lors de la mise en place du projet.">
      </div>
      <img class="projet__main" src="assets/images/mainD.svg" alt="Dessin d'une main d'un des monstre qui tiens une photo du projet">
      <div class="partieProjets">
        <img class="projet-imgM" src="assets/images/perso-feu-1.svg" alt="Petit monstre en forme de flamme qui se trouve devant le boutons pour acceder a ma page avec mes projets">
        <a class="btnP  projet__btnfull projet__btnf" href="projets.php">Voir mes autres projets</a>
      </div>
    </section>

    {# voir pour mon parralax #}

  <section id="motivation" class="motivation">
    <div class="motivation__container">
      <div class="motivation__para para1">
        <h2 id="titre1" class="typewriter">Motivations</h2>
      </div>
      <div class="motivation__para para2">
        <h2 id="titre2" class="typewriter">Compétences</h2>
      </div>
      <div class="motivation__para para3">
        <h2 id="titre3" class="typewriter">Espérances</h2>
      </div>
      <div class="motivation__para para4">
        <h2 id="titre4" class="typewriter">Web Designer</h2>
        <p class="text"></p>
        <a class="btnP btnComp" href="competences.php">Voir plus en détail !</a>
      </div>
    </div>
    <img class="motivation-img" src="assets/images/base-deco.svg" alt="Tous mes petits monstres">
  </section>

  </main>
  <footer>

    <div class="footer-contenu">
      <div class="bloc footer-credit">
        <h3>Pages annexes</h3>
        <ul class="liste-annexe">
          <li><a href="credit.php">Crédits</a></li>
        </ul>
      </div>

      <div class="bloc footer-contact">
        <h3>Me contacter</h3>
        <ul class="liste-contact">
          <li><a href="mailto:dewandre.jonathan@gmail.com">Mon mail</a></li>
        </ul>
      </div>

      <div class="bloc footer-media">
        <h3>Mes réseaux</h3>
        <ul class="liste-media">
          <li><a href="https://www.instagram.com/dewfrjo/"><img src="assets/images/icon-insta.svg" alt="Icones instagram">Instagram</a></li>
        </ul>
      </div>

    </div>

    <small class="credits"> DWT_@ 2024 - Dewandre Jonathan</small>
  </footer>
  <script src="assets/scripts/app.js"></script>
</body>
</html>
